{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Donate Now</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Charity Donation Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
	/>
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<!-- Meta tags -->
	<!--stylesheets-->
	<link href="{% static 'css/style1.css' %}" rel='stylesheet' type='text/css' media="all">
	<!--//style sheet end here-->
	<link href="//fonts.googleapis.com/css?family=Cabin:400,500,600,700" rel="stylesheet">


<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Donate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
<!--google fonts-->

</head>
<body>
<!--banner start here-->
<div class="banner1">
	<div class="header">
   <div class="container">
     <div class="header-main">
	   <div class="logo">
	     <h1><a href="{% url 'index' %}">Kalpvraksh</a></h1>
	   </div>
	   <div class="header-icons">
	   	 <ul>
	   	 	<li><a href="#" class="fb"> </a></li>
	   	 	<li><a href="#" class="twit"> </a></li>
	   	 	<li><a href="#" class="gmail"> </a></li>
	   	 	<li><a href="#" class="dri"> </a></li>
	   	 </ul>
	   </div>
	    <div class="clearfix"> </div>
      </div>
    </div>
  </div>
<div class="top-nav">
            	<span class="menu"> <img src="images/icon.png" alt=""></span>	
				<ul class="res">
					
					<li><a href="{% url 'index' %}"><i class="glyphicon glyphicon-home"> </i>Home</a></li>
					<li><a href="{% url 'about' %}"><i class="glyphicon glyphicon-user"> </i>About</a></li>					
					<li><a href="{% url 'waytodonate' %}"><i class="glyphicon glyphicon-envelope"> </i>Way to Donate</a></li>
                    <li><a class="active" href="{% url 'donatenow' %}"><i class="glyphicon glyphicon-envelope"> </i>Donate    Now</a></li>
                    <li><a href="{% url 'signin' %}"><i class="glyphicon glyphicon-list-alt"> </i>Sign In</a></li>
					<li><a href="{% url 'blog' %}"><i class="glyphicon glyphicon-picture"> </i>Blog</a></li>
					<li><a  href="{% url 'contact' %}"><i class="glyphicon glyphicon-envelope"> </i>Contact</a></li>
                                       
                                         
                                </ul>
				<!-- script-for-menu -->
							 <script>
							   $( "span.menu" ).click(function() {
								 $( "ul.res" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
			<!-- /script-for-menu -->
</div>		
</div>	
<!--banner end here-->

<div>   
    <div>
            	<span class="menu"> <img src="images/icon.png" alt=""></span>	
				<ul class="res">
					<li><a href="{% url 'children' %}"><i> </i>Children</a></li>
					<li><a href="#"><i> </i>Disabled</a></li>
                                        <li><a href="#"><i> </i>Environment</a></li>
                                        <li><a href="#"><i> </i>Youth</a></li>
					<li><a href="#"><i> </i>Women</a></li>
					<li><a href="{% url 'education' %}"><i> </i>Education</a></li>
					<li><a href="{% url 'health' %}"><i> </i>Health</a></li>
                                        <li><a href="#"><i> </i>Elderly</a></li>
                                        <li><a href="#"><i> </i>Food</a></li>
					
				</ul>
                
                
                
                
                
				<!-- script-for-menu -->
							 <script>
							   $( "span.menu" ).click(function() {
								 $( "ul.res" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
			<!-- /script-for-menu -->
</div>

  <!-- End of lower menu -->
  
  <!-- Start of donation form -->
  
  <div >
    <h1 class="header-w3ls"> 
		 <font color="black">Donation Form</font></h1>
	<div class="Donation-main-w3ls">
		<form action="#" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="main">
				<div class="form-left-to-w3l">

						{{ donate.Fname }}
					<div class="clear"></div>
				</div>
				<div class="form-right-to-w3ls">

						{{ donate.Lname }}
					<div class="clear"></div>
				</div>

			</div>
			<div class="main">
				<div class="form-left-to-w3l">
						{{ donate.email }}
				</div>
				<div class="form-right-to-w3ls ">

						{{ donate.phone }}
				</div>
			</div>
			<div class="form-add-to-w3ls add">

					{{ donate.street }}
				<div class="clear"></div>
			</div>


			<div class="main">
				<div class="form-left-to-w3l">

						{{ donate.aadhar }}
					<div class="clear"></div>
				</div>
				<div class="form-right-to-w3ls">
						{{ donate.state }}
					<div class="clear"></div>
				</div>
			</div>
			<div class="main">
				<div class="form-left-to-w3l">
						{{ donate.pincode }}
					<div class="clear"></div>
				</div>
				<div class="form-right-to-w3ls">
					
							{{ donate.city }}							
				</div>
			</div>
			<div class="main">
					<div class="form-right-to-w3ls">
					
							{{ donate.dp }}					
				</div>
				<div class="form-right-to-w3ls">
					
							{{ donate.donationtype }}											
				</div>
				<div class="form-right-to-w3ls">
					
							{{ donate.donationamount }}					
				</div>
			</div>
			<div class="clear"></div>

			<div class="clear"></div>

			<div class="form-control-w3l">
					{{ donate.describe }}
			</div>

			<div class="btnn">
				<button type="submit">Send</button><br>
			</div>
		</form>


		<div class="clear"></div>


        </div>
	</div>
	</div>    

  
    
  
<!--form ends here-->
<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="col-md-4 ftr-grid">
				<h3>Navigation</h3>
				<ul>
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'signin' %}">Sign In</a></li>
					<li><a href="{% url 'blog' %}">Blog</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
				</ul>
			</div>
			<div class="col-md-4 ftr-grid">
				<h3>Latest Tweet</h3>
				<div class="tweets">
					<div class="tweet-icon">
						<span class="tweet-img"> </span>
					</div>
					<div class="tweet-text">
						<p>@Pratik</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<p>Kalpvarksh shows the true meaning of serving the ones who needs the most.Great initiative by kalpvarksh.</p>			</div>
			<div class="col-md-4 ftr-grid">
				<h3>Keep In Touch</h3>
				<div class="ftr-icons">
			    	  	 <div class="ftr-iblock">
			        	   <span class="glyphicon glyphicon-map-marker">  </span>
			        	 </div>
			        	 <div class="ftr-text">
			        	 	<p>Tata iON, Pitampura, New Delhi</p>
			        	 </div>
			        	 <div class="clearfix"> </div>
			   </div>
			   <div class="ftr-icons">
			    	  	 <div class="ftr-iblock">
			        	   <span class="glyphicon glyphicon-earphone">  </span>
			        	 </div>
			        	 <div class="ftr-text">
			        	 	<p>+91 7836836778 </p>
			        	 </div>
			        	 <div class="clearfix"> </div>
			   </div>
			   <div class="ftr-icons">
			    	  	 <div class="ftr-iblock">
			        	   <span class="glyphicon glyphicon-envelope">  </span>
			        	 </div>
			        	 <div class="ftr-text">
			        	 	<p><a href="mailto:info@example.com">kalpvraksh.com</a></p>
			        	 </div>
			        	 <div class="clearfix"> </div>
			   </div>
			</div>
			<div class="clearfix"> </div>		
		</div>
	</div>
</div>

<!--footer end here-->

</body>
</html>