{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Education</title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Donate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
<!--google fonts-->
</head>
<body>
<!--banner start here-->
<div class="banner1">
	<div class="header">
   <div class="container">
     <div class="header-main">
	   <div class="logo">
	     <h1><a href="{% url 'index' %)">Kalpvraksh</a></h1>
	   </div>
	   <div class="header-icons">
	   	 <ul>
	   	 	<li><a href="#" class="fb"> </a></li>
	   	 	<li><a href="#" class="twit"> </a></li>
	   	 	<li><a href="#" class="gmail"> </a></li>
	   	 	<li><a href="#" class="dri"> </a></li>
	   	 </ul>
	   </div>
	    <div class="clearfix"> </div>
      </div>
    </div>
  </div>
<div class="top-nav">
            	<span class="menu"> <img src="{% static 'images/icon.png' %}" alt=""></span>	
				<ul class="res">
					<li><a href="{% url 'index' %}"><i class="glyphicon glyphicon-home"> </i>Home</a></li>
					<li><a href="{% url 'about' %}"><i class="glyphicon glyphicon-user"> </i>About</a></li>					
					<li><a href="{% url 'waytodonate' %}"><i class="glyphicon glyphicon-envelope"> </i>Way to Donate</a></li>
                    <li><a href="{% url 'donatenow' %}"><i class="glyphicon glyphicon-envelope"> </i>Donate    Now</a></li>
                    <li><a href="{% url 'signin' %}"><i class="glyphicon glyphicon-list-alt"> </i>Sign In</a></li>
					<li><a href="{% url 'blog' %}"><i class="glyphicon glyphicon-picture"> </i>Blog</a></li>
					<li><a href="{% url 'contact' %}"><i class="glyphicon glyphicon-envelope"> </i>Contact</a></li>
				</ul>
				<!-- script-for-menu -->
							 <script>
							   $( "span.menu" ).click(function() {
								 $( "ul.res" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
			<!-- /script-for-menu -->
</div>		
</div>	
<!--banner end here-->

<!--Forms-->

<div class="page-header jumbotron" style="height: 1870px;margin-left:90px;margin-right:50px;">
    <center><h1>EDUCATION:</h1><h2>Can make a Difference!</h2></center>
    <br><br>
    <!--start of slider-->
    
    <div>
        <script src="{% static 'js/jssor.slider-27.1.0.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        jssor_1_slider_init = function() {

            var jssor_1_SlideshowTransitions = [
              {$Duration:800,$Opacity:2}
            ];

            var jssor_1_options = {
              $AutoPlay: 1,
              $SlideshowOptions: {
                $Class: $JssorSlideshowRunner$,
                $Transitions: jssor_1_SlideshowTransitions,
                $TransitionsOrder: 1
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 980;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        };
    </script>
    
    <style>
        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 051 css*/
        .jssorb051 .i {position:absolute;cursor:pointer;}
        .jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
        .jssorb051 .i:hover .b {fill-opacity:.7;}
        .jssorb051 .iav .b {fill-opacity: 1;}
        .jssorb051 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 051 css*/
        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
    </style>
    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:380px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="img/spin.svg" />
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
            <div data-p="170.00">
                <img data-u="image" src="{% static 'img/20.png' %}" />
            </div>
            <div data-p="170.00">
                <img data-u="image" src="{% static 'img/21.png' %}" />
            </div>
            <div data-p="170.00"> 
                <img data-u="image" src="{% static 'img/22.png' %}" />
            </div>
            <div data-p="170.00">
                <img data-u="image" src="{% static 'img/23.png' %}" />
            </div>
            <div data-p="170.00">
                <img data-u="image" src="{% static 'img/24.png' %}" />
            </div>
            
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb051" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
            <div data-u="prototype" class="i" style="width:16px;height:16px;">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                </svg>
            </div>
        </div>
        <!-- Arrow Navigator -->
        <div data-u="arrowleft" class="jssora051" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
            </svg>
        </div>
        <div data-u="arrowright" class="jssora051" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
            </svg>
        </div>
    </div>
    <script type="text/javascript">jssor_1_slider_init();</script>
    <!-- #endregion Jssor Slider End -->
    
    </div>    
    
    <!--end of slider-->
 
    
  
<div class=" container-fluid page-header col-lg-6"  style="height: 1000px;margin-left:12px;margin-right: 30px;">
    <h3>Education</h3>
    <div>
        <p>
            A girl child comes into this world with just as many expectations, dreams and aspiration as a boy, but soon finds out that her way towards achieving them is much more challenging. She aims to fly high, but her wings are cut by the ruthlessly unjust gender bias that our society is ridden with.


        </p><br>
        <p>
            Starting from something as basic as her right to be born, she has to fight a battle all her life and struggle for the most fundamental needs – for freedom, for equal opportunity, for making her voice heard.
        </p><br>
        <p>
            As a child she is taught to obey, follow the societal rules and stop dreaming. When she is a little older a suitable match is found and she is sent off to her family where her husband and her in-laws lay down another set of rules. She becomes a mother at a very young age and from then on her life revolves around her many children.
        </p><br>
        <p>
            The mere absence of an education makes her suffer mentally, emotionally and physically from a very young age. 
        </p><br>
        
    </div>
     <div style="margin-left:500px;">
        <a href="{% url 'donatenow' %}"><button type="submit" class="btn btn-lg btn-primary">Donate</button></a>
        
        </div><br><br>
    <div style="margin-left:100px">
       <img src="{% static 'images/books.jpg' %}" alt="" height="350" width="900" >
    </div>
</div>
    <div style="margin-top:93px;">
        <div>
            <p>Her freedom is tied in chains, her decisions are discarded and her individuality gets trapped in the four walls of her home.</p><br>
        <p>
           Our foundation's initiative ‘She Can Fly’ is an effort to enable, equip and empower girl children with quality education, proper nutrition, good health, adequate skills, and above all a lot of self-confidence to help them live their lives to their fullest potential.
        </p><br>
        <p>
            This is also a step towards sensitizing the civil society at large and helping create a girl child friendly society to help her thrive. One of the major ways which can bring about a huge change in the process of sensitizing the society is by creating awareness.
        </p><br>
        <p>
            Let us all come forward and join hands to give wings to her dreams. Empower, educate, and make her strong to stand her own ground and shine in her efforts. She Can Fly, let’s give her the sky!
        </p><br>
        </div>
    </div>
</div>
       
 

<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="col-md-4 ftr-grid">
				<h3>Navigation</h3>
				<ul>
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'signin' %}">Sign In</a></li>
					<li><a href="{% url 'blog' %}">Blog</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
				</ul>
			</div>
			<div class="col-md-4 ftr-grid">
				<h3>Latest Tweet</h3>
				<div class="tweets">
					<div class="tweet-icon">
						<span class="tweet-img"> </span>
					</div>
					<div class="tweet-text">
						<p>@Pratik</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<p>Kalpvarsh shows the true meaning of serving the ones who needs the most.Great initiative by kalpvarsh.</p>
			</div>
			<div class="col-md-4 ftr-grid">
				<h3>Keep In Touch</h3>
				<div class="ftr-icons">
			    	  	 <div class="ftr-iblock">
			        	   <span class="glyphicon glyphicon-map-marker">  </span>
			        	 </div>
			        	 <div class="ftr-text">
			        	 	<p>Tata iON, Pitampura, New Delhi</p>
			        	 </div>
			        	 <div class="clearfix"> </div>
			   </div>
			   <div class="ftr-icons">
			    	  	 <div class="ftr-iblock">
			        	   <span class="glyphicon glyphicon-earphone">  </span>
			        	 </div>
			        	 <div class="ftr-text">
			        	 	<p>+91 7836836778 </p>
			        	 </div>
			        	 <div class="clearfix"> </div>
			   </div>
			   <div class="ftr-icons">
			    	  	 <div class="ftr-iblock">
			        	   <span class="glyphicon glyphicon-envelope">  </span>
			        	 </div>
			        	 <div class="ftr-text">
			        	 	<p><a href="mailto:info@example.com">kalpvraksh@gmail.com</a></p>
			        	 </div>
			        	 <div class="clearfix"> </div>
			   </div>
			</div>
			<div class="clearfix"> </div>		
		</div>
	</div>
</div>
<!--footer end here-->

</body>
</html>