{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Donate a Society </title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Donate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>
<!--google fonts-->
</head>
<body>
<!--banner start here-->
<div class="banner1">
	<div class="header">
   <div class="container">
     <div class="header-main">
	   <div class="logo">
	     <h1><a href="{% url 'index' %}">Kalpvraksh</a></h1>
	   </div>
	   <div class="header-icons">
	   	 <ul>
	   	 	<li><a href="#" class="fb"> </a></li>
	   	 	<li><a href="#" class="twit"> </a></li>
	   	 	<li><a href="#" class="gmail"> </a></li>
	   	 	<li><a href="#" class="dri"> </a></li>
	   	 </ul>
	   </div>
	    <div class="clearfix"> </div>
      </div>
    </div>
  </div>
<div class="top-nav">
            	<span class="menu"> <img src="{% static 'images/icon.png' %}" alt=""></span>	
				<ul class="res">
					<li><a href="{% url 'index' %}"><i class="glyphicon glyphicon-home"> </i>Home</a></li>
					<li><a href="{% url 'about' %}"><i class="glyphicon glyphicon-user"> </i>About</a></li>			
					<li><a href="{% url 'waytodonate' %}"><i class="glyphicon glyphicon-envelope"> </i>Way to Donate</a></li>
        			<li><a href="{% url 'donatenow' %}"><i class="glyphicon glyphicon-envelope"> </i>Donate    Now</a></li>
           			<li><a href="{% url 'signin' %}"><i class="glyphicon glyphicon-list-alt"> </i>Sign In</a></li>
					<li><a href="{% url 'blog' %}"><i class="glyphicon glyphicon-picture"> </i>Blog</a></li>
					<li><a href="{% url 'contact' %}"><i class="glyphicon glyphicon-envelope"> </i>Contact</a></li>

                            	
                                </ul>
				<!-- script-for-menu -->
							 <script>
							   $( "span.menu" ).click(function() {
								 $( "ul.res" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
			<!-- /script-for-menu -->
</div>		
</div>	
<!--banner end here-->
<!--blog start here-->
<div class="blog">
	<div class="container">
		<div class="blog-main">
			<div class="col-md-8 blog-left">
				    <a href="#"> <img src="{% static 'images/006.jpg' %}" alt="" class="img-responsive"> </a>
		   <div class="blog-grid">
		   	<div class="blog-sing">
			   <div class="grid-left">			   	  
			      <h3>25</h3>
			      <p>Feb</p>
			   </div>
			   <div class="grid-right">
			   	 <h3>A Reading of “Ismat’s Eid”</h3>
			   	   
			   	   <p>An invitation to read with students (  grades 7 to 9)  of the newest centre of our VIDYA Bhavishya Yaan Program at Mazagaon, was certainly a cause for cheer.  The reading duo of Bhasyati Sinha and Jayshree Murali marched across from the northern end of the suburbs to the island city of Mumbai  with glee. A lot of planning with  Faika , our lovely teacher from the  BY Program, went into presenting Ismat’s Eid.  The idea being engaging with the story , uncovering its  layers ,  to get the children interested in reading books, making them think and of course enjoy the process.</p>
			   	   <p>The school was undergoing renovation and in the noisy clutter, our little classroom seemed a haven.  We set up a  library corner on the makeshift table, with books arranged neatly . We also set up  a separate space for  the props for the story  and an art corner  with crayons and colours.  Faika had brought a dupatta, burqa and bangles with  trousers and scissors.  A patched pair of jeans was hung from a hook.  A colourful display of printouts of kitchen scenes and a cooking vocabulary dotted one wall.  A beautiful handprint of a mosque, with the Gautam Nagar children’s thumb impressions added the colour to the Library Corner.</p>
                                  

                           </div>
			   <div class="clearfix"> </div>
			   </div>
			   <div class="comment" style="visibility: visible; animation-delay: 0.3s; animation-name: bounceInRight;">
							<h3>Comments</h3>
							 <div class="media" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
								<div class="code-in">
									<p class="smith"><a href="#">Pratik Dalal</a> <span>26 Feb 2018, 15:20</span></p>
									<p class="reply"><a href="#"><i class="glyphicon glyphicon-repeat"> </i>REPLY</a></p>
									<div class="clearfix"> </div>
								</div>
							    <div class="media-left">
							        <a href="#">
							        	<img src="{% static 'images/s1.png' %}" alt="" >
							        </a>
							     </div>
							    <div class="media-body">
		
									<p>Good work by Mr. Amit Kapasia.Sir I also want to be a part of your Team.</p>
							      </div>
							    </div>
							    <div class="media media-1 " style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
								<div class="code-in">
									<p class="smith"><a href="#"> Divya</a> <span>20 Mar 2018, 21:10</span></p>
									<p class="reply"><a href="#"><i class="glyphicon glyphicon-repeat"> </i>REPLY</a></p>
									<div class="clearfix"> </div>
								</div>
							    <div class="media-left">
							        <a href="#">
							        	<img src="{% static 'images/s2.png' %}" alt="">
							        </a>
							     </div>
							    <div class="media-body">
		
									<p>Great contribution toward socity and needy .I really  appreciate your contribution sir.</p>
							      </div>
							    </div>
								<div class="media" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
								<div class="code-in">
									<p class="smith"><a href="#">Ashish Dogra</a> <span>25 Mar 2018, 19:27</span></p>
									<p class="reply"><a href="#"><i class="glyphicon glyphicon-repeat"> </i>REPLY</a></p>
									<div class="clearfix"> </div>
								</div>
							    <div class="media-left">
							        <a href="#">
                                                                    <img src="{% static 'images/pratik.png' %}" alt="" class="img-circle" >
							        </a>
							     </div>
							    <div class="media-body">
		
									<p>I am very thankful of you and your entire team sir.Really appreciate your work. </p>
							      </div>
							    </div>
				 </div>
				 <div class="leave" style="visibility: visible; animation-delay: 0.3s; animation-name: bounceInLeft;">
					<h2>Leave a comment</h2>
						 <form action="#" method="post">
							<div class="single-grid "  style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
								
									<input type="text" name="Name" placeholder="Name">
								
									<input type="text" name="Email" placeholder="Email">								
								
									<input type="text" name="Website" placeholder="Website">									
								
									<textarea name="comment" placeholder="Comment" required=""></textarea>
								<label class="hvr-rectangle-out">
										<input type="submit" value="Send">
								</label>						
						</div>
						</form>
					</div>
			 <div class="clearfix"> </div>
			 </div>
			</div>
			<div class="col-md-4 blog-right">
				<div class="blog-cate">
				
		  </div>
		  <div class="blog-posts">
		  	<h3>Recent Posts</h3>
		  	<div class="blog-posts-grid">
		  		<div class="col-md-5 blog-post-left">
		  			<a href="#"><img src="{% static 'images/c4.jpg' %}" alt="" class="img-responsive"></a>		  			
		  		</div>
		  		<div class="col-md-7 blog-post-right">
		  			<h4>The Right way to make donations.</h4>
		  			
		  		</div>
		  	  <div class="clearfix"> </div>
		  	</div>
		  	<div class="blog-posts-grid">
		  		<div class="col-md-5 blog-post-left">
		  			<a href="#"><img src="{% static 'images/c5.jpg' %}" alt="" class="img-responsive"></a>		  			
		  		</div>
		  		<div class="col-md-7 blog-post-right">
		  			<h4>Biology Class Inspires a Life-long Organ Donation Advocate</h4>
		  		
		  		</div>
		  	  <div class="clearfix"> </div>
		  	</div>
                        <div class="blog-posts-grid">
		  		<div class="col-md-5 blog-post-left">
		  			<a href="#"><img src="{% static 'images/c4.jpg' %}" alt="" class="img-responsive"></a>		  			
		  		</div>
		  		<div class="col-md-7 blog-post-right">
		  			<h4>Cherry Hill, NJ Resident Reaches 200,000 Students with Life-Saving Message</h4>
		  			
		  		</div>
		  	  <div class="clearfix"> </div>
		  	</div>
		  	<div class="blog-posts-grid">
		  		<div class="col-md-5 blog-post-left">
		  			<a href="#"><img src="{% static 'images/c5.jpg' %}" alt="" class="img-responsive"></a>		  			
		  		</div>
		  		<div class="col-md-7 blog-post-right">
		  			<h4>
Read how Jill volunteered with Clothing the Homeless and found new perspective

</h4>
		  			
		  		</div>
		  	  <div class="clearfix"> </div>
                        </div>
                        
		  </div>
		</div>
	</div>
</div>
</div>
<!--blog end here-->
<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="col-md-4 ftr-grid">
				<h3>Navigation</h3>
				<ul>
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'signin' %}">Sign In</a></li>
					<li><a href="{% url 'blog' %}">Blog</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
				</ul>
			</div>
			<div class="col-md-4 ftr-grid">
				<h3>Latest Tweet</h3>
				<div class="tweets">
					<div class="tweet-icon">
						<span class="tweet-img"> </span>
					</div>
					<div class="tweet-text">
						<p>@Pratik</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<p>Kalpvarsh shows the true meaning of serving the ones who needs the most.Great initiative by kalpvarsh.</p>
			</div>
			<div class="col-md-4 ftr-grid">
				<h3>Keep In Touch</h3>
				<div class="ftr-icons">
			    	  	 <div class="ftr-iblock">
			        	   <span class="glyphicon glyphicon-map-marker">  </span>
			        	 </div>
			        	 <div class="ftr-text">
			        	 	<p>Tata iON, Pitampur , New Delhi</p>
			        	 </div>
			        	 <div class="clearfix"> </div>
			   </div>
			   <div class="ftr-icons">
			    	  	 <div class="ftr-iblock">
			        	   <span class="glyphicon glyphicon-earphone">  </span>
			        	 </div>
			        	 <div class="ftr-text">
			        	 	<p>+91 7836836778</p>
			        	 </div>
			        	 <div class="clearfix"> </div>
			   </div>
			   <div class="ftr-icons">
			    	  	 <div class="ftr-iblock">
			        	   <span class="glyphicon glyphicon-envelope">  </span>
			        	 </div>
			        	 <div class="ftr-text">
			        	 	<p><a href="mailto:info@example.com">kalpvraksh@gmail.com</a></p>
			        	 </div>
			        	 <div class="clearfix"> </div>
			   </div>
			</div>
			<div class="clearfix"> </div>		
		</div>
	</div>
</div>
<!--footer end here-->

</body>
</html>